<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>手机商店</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
	
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/photo-gallery.js"></script>
    
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Top-->
	<nav id="top">
		<div class="container">
			<div class="row">
				<div class="divRight">
					<ul class="top-link">
						<li><a href="account.html"><span class="glyphicon glyphicon-user"></span>我的账户</a></li>
						<li><a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!--Header-->
	<header class="container">
		<div class="row">
			<div class="col-md-4">
				<div id="logo"><img src="images/logo.png" /></div>
			</div>
			<div>
				<div id="cart"><a class="btn btn-1" :href="'cart.html#' + cart.uid"><span class="glyphicon glyphicon-shopping-cart"></span>购物车</a></div>
				
			<script type="text/javascript">
			  var v1 = new Vue({
				  el : "#cart",
				  data : {
					  cart : {
					  }
				  },
				  created(){
					  axios.get("cart.s?op=queryUid").then(res=>{
						  this.cart = res.data;
					  })
				  }
			  })
			
			</script>
			</div>
		</div>
	</header>
	<!--Navigation-->
    <nav id="menu" class="navbar">
		<div class="container">
			<div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
			  <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html">首页</a></li>
					<li><a href="account.html">账户</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--///////////////////Product Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div  class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="index.html">首页</a></li>
						<li><a href="category.html">分类</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="main-content" class="main">
					<div class="product" id="pc">
						<div class="col-md-6">
							<div class="image">
								<img :src="phone.img"/>
								<div class="image-more">
									 <ul class="row">
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="images/galaxy-note.jpg"></a>
										</li>
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="images/galaxy-note-2.jpg"></a>
										</li>
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="images/galaxy-note-3.jpg"></a>
										</li>
										 <li class="col-lg-3 col-sm-3 col-xs-4">
											<a href="#"><img class="img-responsive" src="images/galaxy-note-4.jpg"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="caption">
								<div class="name"><h3>{{phone.pname}}</h3></div>
								<div class="info">
									<ul>
										<li>品牌:{{phone.brand}} </li>
										<li>编号:{{phone.pid}} </li>
									</ul>
								</div>
								<div class="price">{{phone.price}}</div>
								
								</div>
								<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
								<div class="well"><label>数量: </label> 
								<input v-model="cart.qty" class="form-inline quantity" type="text" value="1"><a @click="addCart" class="btn btn-2 ">添加</a>
								</div>
								
								<div class="share well">
									<strong style="margin-right: 13px;">分享 :</strong>
									<a href="#" class="share-btn" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" class="share-btn" target="_blank">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#" class="share-btn" target="_blank">
										<i class="fa fa-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>	
					
			<script>
			  var v = new Vue({
				  el : "#pc",
				  data : {
					  phone : {},
					  cart : {
						    pid : location.hash.substring(1),
							qty : 0
						}
				  },
				  created(){
					  axios.get("phone.s?pid=" +location.hash.substring(1)).then(res=>{
						  this.phone = res.data;
					  })
				  },
				  methods : {
						addCart(){
							var params = new URLSearchParams();
							params.append("pid",this.cart.pid);
							params.append("qty",this.cart.qty);
							console.info(this.cart);
							axios.post("cart.s?op=add",params).then(res=>{
								alert(res.data);
							})
						}
					}
				  
			  })
			
			</script>
					<div class="product-desc">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#description">描述</a></li>
							<li><a href="#review">意见</a></li>
						</ul>
						<div class="tab-content">
							<div id="description" class="tab-pane fade in active">
								<h4>参数</h4>
								<p>分辨率: 1560x720</p>
								<p>网络类型: 4G+全网通</p>
								<p><p>存储容量: 64GB 128GB</p></p>
								<p>后置摄像头: 1000万像素</p>
								
								
							</div>
							
							<div id="review" class="tab-pane fade">
							  <div class="review-text">
								
							  </div>
							  
							  <div class="review-form">
								<h4>写下你的意见</h4>
								<form name="form1" id="ff" method="post" action="review.php">
									<label>
									<span>你的名字:</span>
									<input v-model="rname" type="text"  name="rname" id="rname" required>
									</label>
									<label>
									<span>你的意见</span>
									<textarea v-model="review" name="message" id="message"></textarea>
									</label>
									<div class="text-right">
										
										<button @click="adv" class="btn btn-default" type="button" >提交</button>
									</div>
								</form>
							  </div>
							   <script type="text/javascript">
							   	var v=new Vue({
							   		el: ".review-form",
							   		data: {
							   			rname: "",
							   			review: ""
							   		},
							   		methods: {
							   			adv(){
							   			var url="review.s";	
							   			var params = new URLSearchParams();
							   		 	params.append("rname",this.rname);
							   		    params.append("review",this.review);
									 	axios.post(url,params).then(res=>{
					    				 alert(res.data);
							   			
									 	});
								
									 },
							   			
							   	}
							   	 
							})
							   </script>
							  
							</div>
							</div>
							
						</div>
					</div>
				</div>
		</div>
	</div>
	</div>
	
	<footer>
		<div class="container">
			<div class="wrap-footer">
				<div class="row">
					<div class="col-md-3 col-footer footer-1">
						<img src="images/logofooter.png" />	
						<p>品类齐全，轻松购物 </p>
						<p>多仓直发，极速配送 </p>
						<p>正品行货，精致服务  </p>
						<p>天天低价，畅选无忧 </p>
					</div>
					<div class="col-md-3 col-footer footer-2">
						<div class="heading"><h4>Customer Service</h4></div>
						<ul>
							<li><a href="#">关于我们</a></li>
							<li><a href="#">交货信息</a></li>
							<li><a href="#">隐私政策</a></li>
							<li><a href="#">条款与条件</a></li>
							<li><a href="#">联系我们</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-footer footer-3">
						<div class="heading"><h4>My Account</h4></div>
						<ul>
							>
							<li><a href="#">我的账户</a></li>
							<li><a href="#">品牌</a></li>
							<li><a href="#">礼品券</a></li>
							<li><a href="#">特色</a></li>
							<li><a href="#">站点地图</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-footer footer-4">
						<div class="heading"><h4>Contact Us</h4></div>
						<ul>
							<li><span class="glyphicon glyphicon-home"></span>湖南</li>
							<li><span class="glyphicon glyphicon-earphone"></span>123456</li>
							<li><span class="glyphicon glyphicon-envelope"></span>123@qq.com</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	
	<!-- IMG-thumb -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
		$('.nav-tabs a').on('shown.bs.tab', function(event){
			var x = $(event.target).text();         // active tab
			var y = $(event.relatedTarget).text();  // previous tab
			$(".act span").text(x);
			$(".prev span").text(y);
		});
	});
	</script>
</body>
</html>
